@font-face {
    font-family: 'open_sansbold';
    src: url('fonts/opensans-bold-webfont.woff2') format('woff2'),
        url('fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('fonts/opensans-semibold-webfont.woff2') format('woff2'),
        url('fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    /* font */
    --main-font: 'open_sansbold', 'sans-serif';
    --heading-font: 'open_sanssemibold', 'sans-serif';
}

/* root font size */
/* ensure all page elements use box-sizing:border-box; */
html {
    font-size: 1em;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--main-font);
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: var(--heading-font);
    font-size: 3rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

ul {
    padding-left: 0rem;
}

li {
    list-style: none;
}

input[type=button] {
    border-radius: 5px;
    color: white;
    background-color: black;
    font-family: var(--main-font);
    font-size: 1.5rem;
    border: 0rem;
    border-radius: 5px;
    padding: 0.25rem 1rem;
}

input[type=button]:active {
    color: black;
    background-color: white;
}

input[type=text] {
    border: 0rem;
    background-color: lightgray;
    color: grey;
    font-family: var(--main-font);
    text-transform: uppercase;
    padding: 0.25rem 7rem 0.25rem 0.5rem;
    margin-right: 1rem;
    border-radius: 5px;
    font-size: 1.5rem;
}

input[type=text]:focus {
    outline: none;
    box-shadow: 0 0 1px 2px grey;
}

input[type=checkbox] {
    visibility: hidden;
}

label::before {
    content: "";
    background-color: lightgray;

    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;

    position: relative;
    right: 1.5rem;
    top: 4px;

    border-radius: 5px;
}

input[type=checkbox]:checked + label::before {
    background-image: url('images/check.png');
    background-size: 1.50rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
}

.delete::after {
    content: "X";
    color: red;
    margin-left: 1rem;
}

#wrapper {
    margin-left: 3rem;
}